<footer class = "footer">
    <div class = "container">
        <ul class = 'list-inline' id="footerLinks">
            <li><a href = '#header'>Back to top</a></li>
        </ul>
        <!-- Filler -->
        Big Brain Movies is a project created for a requirement in the course CCAPDEV
        <br>
        Big Brain Movies © 2020 K. Oafallas, R. Chua Chiaco, J. Joya
    </div>
</footer>