<header class = "header" id="header">
          <nav class="navbar navbar-expand-lg navbar-custom">

            <!--Brand name-->
            <a class="navbar-brand brandName" href="/movies">
              <img src="/static/img/brain.png" width="30" height="30" class="d-inline-block align-top" alt="">
              Big Brain Movies
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <!--Navigation Links-->
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/movies">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/transactions">Transaction History</a>
                </li>
              </ul>

              <!--Log Out-->
              <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item">
                  <span class="nav-link vl">Logged in as {{user}}</span>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/profile" id="profile-btn">Profile</a>
                </li>
              </ul>
            </div>
          </nav>
</header>
