<div class = 'container'>
	<h2><strong>Movie Screenings</strong></h2>
    <div class = 'wrapper'>
        <div class ='box'>
            img here
        </div>
        <div>
            Title
        </div>
        <div>
            Date
        </div>
        <div>
            seats
        </div>
        <div>
            cost
        </div>
        <div>
            button
        </div>
    </div>
</div>