<div class="container">
  <br><br>
  <h2>Full Name: {{fullname}} </h4>
  <br>
  <h2>Email: {{email}} </h4>
  <br><br><br>
  <hr>
  <h3>List of Transactions: </h3>
  <p>not implemented yet</p>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <a class="btn btn-dark" href="/logout">Log Out</a>
  <br><br><br>
</div>
