<div class="container">
  <h1 id="pageTitle">Employee Information</h1>

  <div id="info">
    <h3>
      Name: {{name}}
    </h3>
    <h3>
      Email: {{email}}
    </h3>
  </div>
  
  <div id="links">
    <div class="button-div">
      <a href="/screeningForm" class="btn btn-primary my-button">Add Screening</a>
    </div>
    
    <div class="button-div">
      <a href="/posterForm" class="btn btn-primary my-button">Add Poster</a>
    </div>
  </div>
  
</div>