<!-- Modal -->
<div class="modal fade" id="completeModal" tabindex="-1" role="dialog" aria-labelledby="completeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Poster Upload</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-message">
        Poster successfully uploaded!
      </div>
      <div class="modal-footer">
        <button id="success-confirm" type="button" class="btn btn-secondary my-button" data-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1 id="pageTitle">Add Poster to Database</h1>
  <form id="submit-form" action="/upload" method="POST" enctype="multipart/form-data" onsubmit="return checkFile()" class="col-8"> 
    <div class="custom-file mb-3">
      <input type="file" name="posterSubmit" id="posterSubmit" class="custom-file-input">
      <label id="poster-label" for="file" class="custom-file-label">Choose File</label>
    </div>
    <input type="submit" value="Upload" class="btn btn-primary btn-block my-button col-3">
  </form>

  <div id="posterAlert" role="alert">
  </div>

  <img id="uploadPreview"/>
</div>