.small-brain {
  height: 50px;
  width: 50px;
}
.movie-img {
  height: 500px;
  width: 350px;
}

.slot-font {
  font-size: 20px;
}

.para {
  position: relative;
  left: 30px;
}

a {
  cursor: pointer;
}

img {
  cursor: default;
}
