#pageTitle{
    padding-top: 20px;
}

#screenUpdateForm{
    padding-top: 20px;
    padding-bottom: 20px;
}

#footerLinks{
    padding-top: 30px;
}

#employeeSubmit{
    background-color: #3E6F71;
  border-color: #3E6F71;
}

label {
    font-weight: bold;
}