#pageTitle{
    padding-top: 20px;
    padding-bottom: 40px;
}

.my-button{
    background-color: #3E6F71;
    border-color: #3E6F71;
}

.my-button:hover{
    background-color: #223c3d;
    border-color: #223c3d;
}

.button-div{
    padding-top: 20px;
    padding-bottom: 20px;
}

#info{
    padding-bottom: 40px;
}

.footer{
    position:absolute;
}
